@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@1,6..12&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ff3700;
}
body {
  /* background-color: #000000; */
  font-family: "Nunito Sans", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
  z-index: 100;
  background-color: white;
}
.logo {
  font-size: 40px;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 800;
}
.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 10px;
}
.nav li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.nav li a:hover {
  color: var(--primary);
}
.search {
  position: relative;
  width: 150px;
  height: 40px;
}
.search input {
  position: absolute;
  top: -10px;
  left: -25%;
  width: 100%;
  height: 100%;
  color: #000000;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 30px !important;
  backdrop-filter: blur(10px);
}
.search input::placeholder {
  color: #000000;
}
.search i {
  position: absolute;
  top: 30%;
  transform: translateY(-25%);
  left: -25%;
  padding-right: 10px;
  color: #000000;
  border-right: 1px solid #000000;
}
.search p {
  position: absolute;
  left: -90px;
  bottom: 10px;
}
.search img {
  position: absolute;
  right: -40px;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.2) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.3) 0px 2px 16px 0px;
}
.search p:hover {
  cursor: pointer;
  color: var(--primary);
  transition: 0.3s;
}
.banner {
  position: relative;
  margin-top: 100px;
  width: 100%;
  min-height: 70vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(image/bg-04.webp) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgab(0, 0, 0, 0.5);
}
.content {
  position: relative;
  max-width: 550px;
  display: none;
  visibility: hidden;
  transform: scale(0);
  transition: 0.5s;
}
.content.active {
  display: block;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s;
}
.movie_title {
  max-width: 250px;
  object-fit: cover;
  object-position: cover;
}
.banner .content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 30px;
}
.banner .content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.banner .content h4 span:last-child {
  padding-right: none;
}
.banner .content h4 span:first-child {
  padding-left: 0;
}
.banner .content h4 span i,
.top-movie p small i:nth-child(2) {
  background: var(--primary);
  color: #ffffff;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
  margin-left: 10px;
}
.banner .content p {
  width: 550px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #ffffff;
  margin: 10px 0 20px;
}
.banner .content button {
  position: relative;
}
.banner .content button a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: var(--primary);
  color: #ffffff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}
.banner .content .button a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner .content .button a:hover:nth-child(2) {
  background: var(--primary);
}
.banner .carousel_box {
  position: relative;
  min-width: 650px;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
.carousel {
  position: relative;
  height: 550px;
  top: 15px;
  /* perspective: 1500px; */
}
.carousel .carousel-item {
  width: 250px;
  cursor: pointer;
}
.carousel .carousel-item img {
  max-width: 235px;
  border-radius: 10px;
  transform: translateX(8px) translateY(-100px);
  object-fit: cover;
  object-position: center;
}
.play {
  position: absolute;
  bottom: 20px;
  left: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2em;
  cursor: pointer !important;
  transition: 0.3s;
}

.play i {
  margin-right: 10px;
  font-size: 40px;
  cursor: pointer !important;
}
.play:hover {
  color: var(--primary);
}
.sci {
  position: absolute;
  bottom: 20px;
  right: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.sci a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
  transition: 0.3s;
  cursor: pointer;
}
.sci a:hover {
  color: var(--primary);
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.trailer.active {
  visibility: visible;
  opacity: 1;
}
.trailer video {
  max-width: 900px;
  outline: none;
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 30px;
}

.main {
  margin-top: 50px;
  padding: 0 100px;
}
.khoi {
  text-align: center;
}
.main .khoi1 {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
.main .khoi2 {
  display: none;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
.button {
  text-align: center;
}
.button button,
.ctMovie .cung-muc button {
  padding: 10px 40px;
  border: 1px solid rgb(255, 132, 0);
  color: rgb(255, 132, 0);
  background: white;
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 40px;
}
.hr-main {
  border: 3px solid rgba(189, 189, 189, 0.2);
  margin-left: -100px;
  width: 1510px;
  margin-bottom: 40px;
}
.button button:hover,
.ctMovie .cung-muc button:hover {
  background-color: rgb(255, 132, 0);
  transition: 0.3s;
  color: white;
}

.main .khoi .item .image img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
}
.main .khoi .item .name {
  font-size: 1.1vw;
  font-weight: bold;
}
.main .box-mat {
  margin-bottom: 40px;
  display: flex;
}
.main h6 {
  margin-right: 8px;
  font-weight: bold;
  padding-left: 5px;
  border-left: 4px solid #0d0c4b;
}
.main .box-mat ul li {
  position: relative;
  padding: 8px 20px;
  display: inline-block;
}
.main .box-mat ul li:nth-child(1) {
  color: var(--primary);
}

.main .box-mat ul li:hover {
  color: var(--primary);
  cursor: pointer;
  transition: 0.3s;
}
.mb {
  margin-bottom: 40px;
}
.top-movie {
  padding: 0 20px 0 20px;
  width: 30%;
  background-color: rgba(167, 167, 167, 0.3);
  overflow: auto;
  height: 415px;
  border-radius: 5px;
}
.review {
  display: flex;
  justify-content: space-between;
}
.top-movie img {
  width: 100px;
  height: 130px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.top-movie img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}
.top-movie h5 {
  padding: 10px 10px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
.top-movie p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.top-movie span small {
  color: rgba(128, 128, 128, 0.5);
  display: block;
  padding: 3px 0;
  margin-left: -40px;
  font-weight: 500;
  font-size: 1.1vw;
}
.top-movie span small:nth-child(1) {
  font-size: 1.2vw;
  color: black;
}
.bg {
  background: black;
  text-align: center;
}
.bg .img {
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 750px;
  height: 500px;
  z-index: 0;
}
.bg .img img {
  width: 100%;
  height: 100%;
}
.bg .img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  top: 0;
}
.bg .img a {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
}
.bg .img a i {
  font-size: 4vw;
}
.bg .img .bur-left {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
}
.bg .img .bur-right {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
}
.ctMovie {
  width: 100%;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
}
.ctMovie .box-noi-dung {
  width: 73%;
}
.ctMovie .chi-tiet {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.ctMovie .chi-tiet .anh {
  margin-top: -70px;
  width: 30%;
  height: 384px;
}
.ctMovie .noi-dung {
  width: 70%;
  line-height: 35px;
}
.ctMovie .noi-dung i {
  color: rgb(255, 136, 0);
  padding-right: 5px;
}
.ctMovie .noi-dung p:nth-child(1) {
  font-size: 1.8vw;
  font-weight: 700;
  margin-top: 50px;
  color: black;
}
.ctMovie .noi-dung p:nth-child(3) {
  color: black;
  font-size: 1.5vw;
}
.ctMovie .noi-dung p:nth-child(3) small {
  font-size: 1vw;
  color: rgb(141, 141, 141);
}
.ctMovie .noi-dung p span {
  color: black;
  margin-right: 4px;
  padding: 4px 5px;
  border-radius: 5px;
  border: 1px solid rgb(141, 141, 141);
}
.ctMovie .noi-dung p {
  color: rgb(141, 141, 141);
}
.ctMovie .day-movie p span {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1vw;
}
.ctMovie .lich-movie{
  padding-left: 10px;
  padding-bottom: 70px;
  margin: 30px  0 15px 0 ;
}
.time-movie:nth-child(1){
  display: block;
}
.time-movie{
  display: none;
}
.ctMovie .lich-movie:nth-child(odd){
  background-color: rgba(210, 210, 210, 0.2);
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 1px solid rgb(202, 202, 202);
}
.ctMovie .lich-movie p {
  color: black;
  font-weight: 700;
  font-size: 1.2vw;
  padding-bottom: 15px;
  padding-top: 15px;
}
.ctMovie .lich-movie span {
  /* display: inline-block; */
  margin-right: 10px;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 5px;
}
.ctMovie .day-movie p {
  padding-bottom: 15px;
  border-bottom: 2px solid blue;
}
#datetime span {
  background-color: white;
  color: black;
  font-size: initial;
  border-radius: 0;
}
#datetime span:hover {
  cursor: pointer;
}
#datetime span.active {
  background-color: rgb(0, 0, 171);
  color: white;
  font-size: 1.2vw;
  border-radius: 5px;
}
.ctMovie .noi-dung .fa-calendar {
  padding-left: 10px;
}
.ctMovie .chi-tiet .anh img {
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
}
.ctMovie .cung-muc {
  width: 25%;
}
.ctMovie h6 {
  margin-top: 40px;
  font-weight: bold;
  border-left: 4px solid rgb(0, 0, 168);
  padding-left: 5px;
  margin-bottom: 30px;
}
.ctMovie .cung-muc p {
  margin-bottom: 15px;
  font-size: 1.2vw;
}
.ctMovie .cung-muc button {
  float: right;
}
.ctMovie .cung-muc p img {
  width: 334px;
  height: 223px;
  border-radius: 5px;
}
footer {
  margin-top: 100px;
  background: rgb(50, 50, 50);
  padding: 20px 20px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}
footer .box-footer h6 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 20px;
}
footer .box-footer {
  padding-left: 100px;
}
footer .box-footer p {
  color: rgb(195, 195, 195);
  line-height: 40px;
}
footer .box-footer p i {
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
  width: 35px;
  height: 35px;
  font-size: 1.5vw;
  color: rgb(50, 50, 50);
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
}
footer .box-footer p:hover {
  color: var(--primary);
  cursor: pointer;
  transition: 0.3s;
}
.hr-footer {
  border: 1px solid rgba(215, 215, 215, 0.5);
  margin-top: 20px;
}
main {
  margin-top: 100px;
}
